<h1>Catalog of url's</h1>

<p>List of interesting posts about AI</p>

<table class='table'>
    <tbody>
        <tr>
            <td>Title <input [value]="blogPost.title" (input)="blogPost.title = $event.target.value" /></td>
        </tr>
        <tr>
            <td>Published date <input [value]="blogPost.publishedDate" (input)="blogPost.publishedDate = $event.target.value" /> </td>
        </tr>
        <tr>
            <td>Url <input [value]="blogPost.url" (input)="blogPost.url = $event.target.value" /></td>
        </tr>
        <tr>
            <td>Comments <input [value]="blogPost.comments" (input)="blogPost.comment = $event.target.value" /></td>
        </tr>
        <tr>
            <td>Read date <input [value]="blogPost.readDate" (input)="blogPost.readDate = $event.target.value" /></td>
        </tr>
        <tr>
            <td>
                <button (click)="saveUrl()">Save</button>
                <button (click)="clearUrl()">Clear</button>
            </td>
        </tr>
    <tr>
        <td>{{ status }}</td>
    </tr>
    </tbody>
</table>

<p *ngIf="!urls">Loading urls...</p>

<table class='table' *ngIf="urls">
    <thead>
        <tr>
            <td>Title</td>
            <td>Published</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let url of urls">
            <td>{{url.title}}</td>
            <td>{{url.publishedDate}}</td>
        </tr>
    </tbody>
</table>